<div class="alert alert-danger" role="alert" *ngIf="errorPassword">
  {{mensajeError}}
</div>

<div class="container mt-5">
  <div class="row loginc">
    <div class="col-md-6 slider">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="'assets/image/login4.jpg'" alt="Los Angeles" width="490" height="340">
          </div>
          <div class="carousel-item">
            <img [src]="'assets/image/login5.jpg'" alt="Chicago" width="530" height="340">
          </div>
          <div class="carousel-item">
            <img [src]="'assets/image/login6.jpg'" alt="New York" width="530" height="340">
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-4">
      <div class="card login">
        <div class="card-header bg-light text-center border border-light">
          <h3 class="font-weight-bold">Iniciar Sesión</h3>
        </div>

        <div class="card-body border border-light">
          <form (ngSubmit)="login(loginForm, mail)" #loginForm="ngForm">
            <div class="form-group">
              <h5 for="Nombre">Correo Electrónico</h5>

              <input type="email" name="mail" [(ngModel)]="user.mail" class="form-control" #mail="ngModel"
                [ngClass]="{'is-invalid': mail.invalid && mail.touched}"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>

              <div *ngIf="mail.invalid && mail.touched" class="alerta">
                Debes completar el mail.
              </div>

              <div *ngIf="mail.errors?.pattern" class="alerta">
                el mail no poseo un formato valido
              </div>
            </div>

            <div class="form-group">
              <h5 for="Nombre">Contraseña</h5>

              <input type="password" name="password" [(ngModel)]="user.password" class="form-control"
                #password="ngModel" [ngClass]="{'is-invalid': password.invalid && password.touched}" required>

              <div *ngIf="password.invalid && password.touched" class="alerta">
                Debes completar el password.
              </div>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-secondary btn-lg btn-block text-primary" [disabled]="loginForm.invalid"><i
                  class="fas fa-sign-out-alt"></i> Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
      <h2 class="text-primary frase">Pet Pocket, <mark>amamos a los animales</mark> ¡Unete!</h2>
  </div>
</div>